
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
  - admissionReviewVersions:
      - v1beta1
    clientConfig:
      service:
        name: webhook-service
        namespace: system
        path: /validate-metal3-io-v1alpha1-baremetalhost
    failurePolicy: Fail
    matchPolicy: Equivalent
    name: vbaremetalhost.kb.io
    rules:
      - apiGroups:
          - metal3.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - baremetalhosts
    sideEffects: None