IRONIC_ENDPOINT=https://${IRONIC_PROVISIONING_HOST}:6385/v1/
IRONIC_NETWORKING_ENABLED=true
IRONIC_SWITCH_CONFIGS_SECRET=metal3-switch-configs
IRONIC_SWITCH_CREDENTIALS_SECRET=metal3-switch-credentials
IRONIC_SWITCH_CREDENTIALS_PATH=/etc/ironic/switch-credentials
