---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: hostupdatepolicies.metal3.io
spec:
  group: metal3.io
  names:
    kind: HostUpdatePolicy
    listKind: HostUpdatePolicyList
    plural: hostupdatepolicies
    singular: hostupdatepolicy
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: HostUpdatePolicy is the Schema for the hostupdatepolicy API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: HostUpdatePolicySpec defines the desired state of HostUpdatePolicy.
            properties:
              firmwareSettings:
                description: Defines policy for changing firmware settings
                enum:
                - onPreparing
                - onReboot
                type: string
              firmwareUpdates:
                description: Defines policy for updating firmware
                enum:
                - onPreparing
                - onReboot
                type: string
            type: object
          status:
            description: HostUpdatePolicyStatus defines the observed state of HostUpdatePolicy.
            type: object
        type: object
    served: true
    storage: true
