apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: baremetal-operator-system
resources:
- ../../../config/namespace
- ../../base

components:
- ../../components/basic-auth
- ../../components/tls

configMapGenerator:
- envs:
  - ironic_bmo_configmap.env
  name: ironic-bmo-configmap
  behavior: create

patches:
- path: ironic-patch.yaml
# The TLS component adds certificates but it cannot know the exact IPs of our environment.
# Here we patch the certificates to have the correct IPs.
# - 192.168.222.1: management computer IP, forwarded to ironic inside kind
- patch: |-
    - op: replace
      path: /spec/ipAddresses/0
      value: 192.168.222.1
  target:
    kind: Certificate
    name: ironic-cert

# TODO(lentzi90): Remove once issue resolved:
# https://github.com/metal3-io/baremetal-operator/issues/2110
images:
- name: quay.io/metal3-io/ironic
  newTag: release-26.0

# NOTE: These credentials are generated automatically in hack/ci-e2e.sh
secretGenerator:
- name: ironic-htpasswd
  behavior: create
  files:
  - htpasswd=ironic-htpasswd
  type: Opaque
