- user: admin
  password: password
  address: "libvirt://${HOST_ADDRESS}:16230"
  bootMacAddress: "00:60:2f:31:81:01"
  name: "bmo-e2e-0"
  ipAddress: "${VM_HOST1_IP}"
  rootDeviceHints:
    deviceName: "/dev/vda"
- user: admin
  password: password
  address: "libvirt://${HOST_ADDRESS}:16231"
  bootMacAddress: "00:60:2f:31:81:02"
  name: "bmo-e2e-1"
  ipAddress: "${VM_HOST2_IP}"
  rootDeviceHints:
    deviceName: "/dev/vda"
