- user: admin
  password: password
  address: "redfish-virtualmedia+http://${HOST_ADDRESS}:8000/redfish/v1/Systems/bmo-e2e-0"
  bootMacAddress: "00:60:2f:31:81:01"
  name: "bmo-e2e-0"
  ipAddress: "${VM_HOST1_IP}"
  rootDeviceHints:
    deviceName: "/dev/vda"
- user: admin
  password: password
  address: "redfish-virtualmedia+http://${HOST_ADDRESS}:8000/redfish/v1/Systems/bmo-e2e-1"
  bootMacAddress: "00:60:2f:31:81:02"
  name: "bmo-e2e-1"
  ipAddress: "${VM_HOST2_IP}"
  rootDeviceHints:
    deviceName: "/dev/vda"
