apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: baremetal-operator-system
resources:
- ../../default
- ../../config/namespace
- ../../certmanager

patchesStrategicMerge:
- tls.yaml
