name: E2E Test

on:
  workflow_call:
    inputs:
      bmc-protocol:
        required: true
        type: string
      runner:
        type: string
        default: "oracle-vm-4cpu-16gb-x86-64"
      ginkgo-focus:
        type: string
        default: ""
      ref:
        type: string
        default: ${{ github.ref }}

permissions: {}

jobs:
  test:
    name: E2E test
    runs-on: ${{ inputs.runner }}
    timeout-minutes: 90

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ inputs.ref }}

    - name: Install libvirt
      run: |
          sudo apt-get update
          sudo apt-get install -y libvirt-daemon-system qemu-kvm virt-manager libvirt-dev

    - name: Run BMO e2e Tests
      env:
        BMC_PROTOCOL: ${{ inputs.bmc-protocol }}
        GINKGO_FOCUS: "${{ inputs.ginkgo-focus }}"
      # We need a new shell to pick up the new group. That is why we do the sudo -s -u $USER ...
      # Remove the pre-installed go version. We install the exact version we need.
      run: |
        sudo usermod -a -G libvirt $USER
        sudo rm /usr/bin/go
        sudo -s -u $USER --preserve-env bash ${{ github.workspace }}/hack/ci-e2e.sh

    - name: Upload artifacts
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: artifacts-${{ inputs.bmc-protocol }}.tar.gz
        path: test/e2e/_artifacts
        if-no-files-found: error
        overwrite: false
