on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - "v*"

name: release

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write
    # This workflow is only of value to the metal3-io/baremetal-operator repository and
    # would always fail in forks
    if: github.repository == 'metal3-io/baremetal-operator'
    runs-on: ubuntu-latest
    steps:
      - name: Export RELEASE_TAG var
        run:  echo "RELEASE_TAG=${GITHUB_REF:10}" >> $GITHUB_ENV
      - name: checkout code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          fetch-depth: 0
      - name: Install go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: '1.20'
      - name: Generate release notes
        run: |
          make release-notes
      - name: Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v1
        with:
          draft: true
          files: out/*
          body_path: releasenotes/releasenotes.md
