name: yamllint

permissions:
  contents: read

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize, ready_for_review ]

jobs:
  yamllint-check:
    name: yaml-lint
    uses: metal3-io/project-infra/.github/workflows/yamllint.yaml@main
    with:
      ref: ${{ github.event.pull_request.head.sha }}
